<p>choisissez le type de compte que vous voule créer</p>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">citoyen</h5>
        <a href="/users/welcome" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">une association</h5>
        <a href="/users/welcome" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
