
Confirmation d'activation de votre compte

Votre compte a bien été activé pour le nom d'utilisateur : <%=current_user.username%>.

Vous avez désormais accès à toutes les fonctionnalités de l'Espace Citoyens.
 

<a>Retour à l'accueil</a>

 
	
<a href="/myuser/edit">Accéder à mon profil</a>

<p>Si votre famille est inconnue des services de l'enfance, cliquez sur "Déclarer ma famille"</p>
	
<a href="/myuser/family">Déclarer ma famille</a>


