Confirmation de création de votre compte

Votre compte a bien été créé.

Vous allez recevoir un message de confirmation par courriel à l'adresse que vous avez indiquée.

Pour activer votre compte, merci de suivre les instructions de ce message.
<a href="/users/oksuccess">entrer ici</a>
