Création d'un espace personnel

    Bienvenue
    Bienvenue

    Bonjour et bienvenue

    Vous allez dans quelques instants accéder à l'assistant qui vous permettra de créer votre espace citoyen.

    Grâce à cet espace vous aurez la possibilité de faire vos démarches à distance, de réserver les activités de vos enfants et de les régler directement en ligne !
<p><a href="/users/sign_up">s'inscrire</a></p>

