<a href="/mespapiers">mes papiers</a>

MON COMPTE
Représentant
<%=current_user.prenom%>
<%=current_user.nomusuel%>

<%=current_user.adresse%>


<%=current_user.email%>
Profil
Identifiants
<a href="/myuser/family">Ma famille</a>

