/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#personnes, .monformulaire,#activites,.mesarticles {
	float:left;
}
#activites a{
	background:green;
	color:black;
	border-left:3px solid blue;
}
#activites a.current{
	background:red;
	color:black;
	border-left:3px solid blue;
}
.sometitle{
	background:blue;
	color:white;
}
#personnes .person{
	    display: flex;
	        flex-direction: column;
		    align-content: space-around;
		        justify-content: flex-start;
			    align-items: center;
		    }
		    .box {
			       display: flex;
			          align-items:center;
			  }
			  .box div {
			      display: flex;
			          align-content: space-around;
				      flex-direction: column;
				      }
